body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  margin-left: 30px;
}
.footer-link {
  display: block;
  margin-bottom: 1rem;
}

/* Support-section */
#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
}
#supportHero a {
  color: white;
}
#supportWrapper_top {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}
#supportWrapper_bottom {
  margin: 0 90px;
}
.feature {
  padding-left: 150px;
}
#supportWrapper_bottom input {
  padding: 20px 50px;
  width: 100%;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}
#supportWrapper_bottom a {
  margin-right: 20px;
}
